header{
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.nav{
  background-color: #000414;
}

.nav li{
  display: inline;
}

.nav ul {
  display: inline-flex;
}

.nav li a {
  color: white;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}


body {
    font-family: helvetica, sans-serif;
    margin: 0px;
}

.main {
  display: flex;
  padding:0;
  height: 90vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
}

.discussions {
  float: left;
  border-radius: 1px;
  width: 500px;
  box-shadow: 1px 1px 10px 2px grey;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
}

.container{
  display: flex;
  padding:0;
}
.msg-list .container{
    /* border: 1px solid black; */
    margin-bottom:5px;
}

.msg-list{
  overflow: scroll;
  overflow-x: hidden;
  /* width: 500px; */
  padding-top: 10px;
  padding-bottom: 10px;
  height: 78vh;

}
.photo{
  width:70px;
  height:70px;
  text-align:center;

  /* border: 1px solid black; */
}
.photo img{
  max-width:70px;
  height:70px;
  border-radius: 3px;
}
.cont-info{
  margin-left: 5px;
  margin-top:-20px;
  padding: 0;
}
.cont-info h4{
  font-weight: bold;
}
.cont-info p{
  margin-top: -20px;
  margin-bottom: 8px;
  font-size: small;
  text-align: center;
  color: grey;
}
.cont-info span{
  font-size: 16px;
  margin-top: -50px;
}
.msg-list a{
  text-decoration: none;
  color: black;

}
.msg-list .container:hover{
  background-color: rgb(227, 227, 227);
}
.msg-box {
  float: right;
  border-radius: 1px;
  background: #fff;
  width: 100%;
  margin-left: 10px;
  box-shadow: 1px 1px 10px 2px grey;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.header{
    background: #393939;
    padding:18px;
    margin: -10px -10px 0px -10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}


.chat{
    background: #72b8ff;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-weight: lighter;
    font-size: 17px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    margin: 5px;
    position: relative;
    max-width: 200px;
}
.chat.u1{
    float: left;
    clear: both;
    border-top-left-radius: 0px;
    padding: 15px;

}
.chat.u1:before{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid #72b8ff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 17px;
    left: -10px;
}
.chat.u2{
    float: right;
    clear: both;
    border-top-right-radius: 0px;
    background: #00D025;
    padding: 15px;
}
.chat.u2:before{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid #00D025;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 17px;
    right: -10px;
}

.msg-send{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px 10px 15px 10px;
    background: #393939;
    height: 10%;
    left: 0px;
    border-top: 1px solid #ddd;
}
.msg-send input{
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 85%;
    height: 100%;
    border:none;
    border-radius: 5px;
    color: #393939;
    font-weight: 100;
    background: #fff;
}
.msg-send button{
    width: 40px;
    height: 30px;
    padding: 0;
    border: none;
    color: #00D025;
    background: none;
    position: relative;
    top: -3px;
    outline: none;
    cursor: pointer;
}
#send{
  height: 50px;
  width: 50px;
  margin: auto;
}

.message{
  height: 69vh;
  width: 100%;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  /* transform: rotate(180deg); */
}
.sender1 p{
  float: left;
  clear: both;
  padding-left:1%;
  margin: 0;
  font-size: 11px;
  color: grey;
}
.sender2 p{
  float: right;
  clear: both;
  padding-left:1%;
  margin: 0;
  font-size: 11px;
  color: grey;
}
